<div class="slider">
  <nexus-slider showPrevNext="true">
    <nexus-slide>
      Prova!<br />
      Prova!<br />
      Prova!<br />
      Prova!<br />
      Prova!<br />
    </nexus-slide>
    <nexus-slide>Ah!</nexus-slide>
    <nexus-slide>Uffa</nexus-slide>
    <nexus-slide>Ciao</nexus-slide>
  </nexus-slider>
</div>

<router-outlet></router-outlet>
