.nexus-slider {
  height: 100%;

  .nexus-mat-tab-group {
    .mat-tab-header {
      display: none;
    }
  }

  .slide-container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .nexus-navigation-prev-next {
      cursor: pointer;
      width: 7.5%;
    }
  }

  .nexus-navigation {
    text-align: center;
  }
}
