<div
  class="nexus-slider"
  (mouseenter)="onSliderHoverIn()"
  (mouseleave)="onSliderHoverOut()">
  <div class="slide-container">
    <div
      *ngIf="showPrevNext"
      class="nexus-navigation-prev-next"
      (click)="prevSlide()">
      <mat-icon>navigate_before</mat-icon>
    </div>
    <mat-tab-group
      [selectedIndex]="slideActiveIndex"
      class="nexus-mat-tab-group"
      [ngStyle]="{ width: showPrevNext ? '85%' : '100%' }">
      <mat-tab *ngFor="let slide of slides">
        <ng-container *ngTemplateOutlet="slide.content"></ng-container>
      </mat-tab>
    </mat-tab-group>
    <div
      *ngIf="showPrevNext"
      class="nexus-navigation-prev-next"
      (click)="nextSlide()">
      <mat-icon>navigate_next</mat-icon>
    </div>
  </div>

  <div *ngIf="showNavigation" class="nexus-navigation">
    <button
      *ngFor="let slide of slides; let i = index"
      [attr.aria-label]="slide.label"
      (click)="goToSlideNumber(i)"
      mat-icon-button>
      <mat-icon *ngIf="i === slideActiveIndex" color="primary">brightness_1</mat-icon>
      <mat-icon *ngIf="i !== slideActiveIndex" color="accent">brightness_1</mat-icon>
    </button>
  </div>
</div>
